<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Home credit</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
    {{ prediction_text }}
    <br>
    <form action="{{ url_for('home')}}">
        <button type="submit" class="btn btn-primary btn-block btn-large">Accueil</button>

    </form>
    
   <br>
   <br>

 </div>


</body>
</html>
